@tailwind base;
@tailwind components;
@tailwind utilities;

/*for backgroung */
body{
    background: url('./assets/nbg.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}